<?xml version="1.0" ?>
<configuration>
    
    <section name="global_options">
       
        <!-- import data dealy time(second) -->
        <dealy>60</dealy>
        
        <!-- if no data file input in detect time(second), then send mail.-->
        <detect_time>180</detect_time>
		
		<!-- email smtp configure -->
		<email_from>luoh@gmail.com</email_from>
		
		<!-- Multiple E-mail addresses with ";" separate -->
		<email_to>farmer.luo@139.com;farmer.luo@gmail.com</email_to>
		<email_user>luoh@gmail.com</email_user>
		<email_passwd>1234567890</email_passwd>
		<email_smtp>smtp.gmail.com</email_smtp>
		<email_TLS>true</email_TLS>
		<email_SSL>true</email_SSL>
		
    </section>
	
	<sites>
	
		<site>
			<name>mixi-top-city.rockyouasia.jp</name>
			<!-- extend name of data file -->
			<extend_name>.csv</extend_name>
			<path>e:\csv</path>
			<host>192.168.20.23</host>
			<port>5029</port>
			<database>logs</database>
			<table>c_log</table>
			<username>root</username>
			<password>1qaz2wsx</password>
		</site>
		
		<site>
			<name>hangame-top-city.rockyouasia.jp</name>
			<!-- extend name of data file -->
			<extend_name>.csv</extend_name>
			<path>e:\csv</path>
			<host>192.168.20.23</host>
			<port>5029</port>
			<database>logs</database>
			<table>c_log</table>
			<username>root</username>
			<password>1qaz2wsx</password>
		</site>
		
	</sites>
    
</configuration>